@import '_public.scss';
.wrap-header{
	width: 100%;
	height:40px;
	background: #e6e6e6;
	.header-small-top{
		font-size: 12px;
		margin: 0 auto;
		width:1200px;
		line-height: 40px;
		.header-user-p>i{
			color:#c8000a;
		}
		.small-top-home{
			color:#666;
			font-size: 12px;
			background: url(../img/index_sprites.png) no-repeat 0 10px;
			display: block;
			padding-left: 28px;
			float: left;
		}
		>p{
			float: left;
			margin-left:45px;
			color:#555555;
		}
		&>a{
			margin-left:32px;
			color:#c20005;
		}
		.small-top-shop{
			display: inline-block;
			float:right;
			background: url(../img/index_sprites.png) no-repeat -3px -38px;
			padding-left: 28px;
			margin-right: 14px;
			cursor:pointer;
			span{
				display: block;
				float: right;
				width: 20px;
				height: 20px;
				color:#fff;
				background: #c8000a;
				margin: 10px 0 0 5px;
				line-height: 20px;
				text-align: center;
				border-radius: 10px;
			}
		}
		.small-top-ul{
			float: right;
			margin-right: 7px;
			li{
				position: relative;
				float: left;
				background: url(../img/index_sprites.png) no-repeat -13px -2439px;
				z-index: 1;
				height: 38px;
				border-top: 1px solid #e6e6e6;

				&>a{
					box-sizing:border-box;
					color:#555555;
					display: block;
					height: 38px;
					padding-left: 10px;
				}
				span{
					display: block;
					width: 13px;
					height: 7px;
					position: absolute;
					right: 6px;
					top:17px;
					background: url(../img/index_sprites.png) no-repeat -9px -206px;
				}

			}
			li:nth-child(1){
				width:78px;
				left:3px;

				.top-ul-user{
					border:1px solid #646464;
					background: #fefefe;
					position: absolute;
					top:38px;
					border-top:0;
					padding: 5px 0;
					width: 100%;
					text-indent: 10px;
					left:-1px;
					display: none;
					& a{
						display: block;
						line-height: 22px;
						color:#555;
						&:hover{
							color:#c8000a;
						}
					}
				}
				&:hover{
					cursor: pointer;
					background: #fefefe;
					border:1px solid #646464;
					border-bottom:0;
					width: 76px;
					color:#c8000a;
					z-index: 2;
					left:3px;
				}
				&:hover span{
					background: url(../img/index_sprites.png) no-repeat -55px -208px;
				}
				&:hover >a{
					color:#c8000a;
					padding-left: 9px;
				}
				&:hover .top-ul-user{
					display: block;
				}

			}
			li:nth-child(2){
				width: 72px;
				left: 2px;
				.top-ul-user{
					border:1px solid #646464;
					background: #fefefe;
					position: absolute;
					top:38px;
					border-top:0;
					padding: 5px 0;
					width: 100%;
					text-indent: 5px;
					left:-1px;
					display: none;
					& a{
						display: block;
						line-height: 22px;
						color:#555;
						&:hover{
							color:#c8000a;
						}
					}
				}
				&:hover{
					cursor: pointer;
					height: 38px;
					background: #fefefe;
					border:1px solid #646464;
					border-bottom:0;
					color:#c8000a;
					z-index: 2;
					left:3px;
					width: 70px;
					>a{
						padding-left: 9px;
					}

				}
				&:hover span{
					background: url(../img/index_sprites.png) no-repeat -55px -208px;
				}
				&:hover >a{
					color:#c8000a;
					padding-left: 9px;
				}
				&:hover .top-ul-user{
					display: block;
				}
			}
			li:nth-child(3){
				width: 78px;
				left:2px;
				.top-ul-user{
					border:1px solid #646464;
					background: #fefefe;
					position: absolute;
					top:38px;
					border-top:0;
					padding: 5px 0;
					width: 100%;
					text-indent: 10px;
					left:-1px;
					display: none;
					& a{
						display: block;
						line-height: 22px;
						color:#555;
						&:hover{
							color:#c8000a;
						}
					}
				}
				&:hover{
					cursor: pointer;
					height: 38px;
					background: #fefefe;
					border:1px solid #646464;
					border-bottom:0;
					color:#c8000a;
					width: 76px;
					z-index: 2;
					left:2px;

				}
				&:hover span{
					background: url(../img/index_sprites.png) no-repeat -55px -208px;
				}
				&:hover >a{
					color:#c8000a;
					padding-left: 9px;
				}
				&:hover .top-ul-user{
					display: block;
				}
			}
			li:nth-child(4){
				width: 79px;
				padding-left: 10px;
				left:1px;
				.top-ul-phone{
					background: url(../img/index_sprites.png) no-repeat -3px -100px;
					position: absolute;
					width: 18px;
					height:20px;
					top:12px;
					left:0px;
				}
				.top-ul-user{
					border:1px solid #646464;
					background: #fefefe;
					position: absolute;
					top:37px;
					padding: 5px 0;
					width: 230px;
					height: 132px;
					left:-74px;
					z-index: 1;
					display:none;
					justify-content:space-around;
					text-align:center;
					a{
						color:#888;
					}
				}
				&:hover{
					cursor: pointer;
					height:38px;
					background: #fefefe;
					border:1px solid #646464;
					border-bottom:0;
					width: 77px;
					color:#c8000a;
					z-index: 5;
					left:1px;

				}
				&:hover span{
					background: url(../img/index_sprites.png) no-repeat -55px -208px;
				}
				&:hover >a{
					color:#c8000a;
					padding-left: 9px;
				}
				&:hover .top-ul-user{
					display: flex;
				}
			}
			li:nth-child(5){
				width: 78px;
				right: 1px;
				.top-ul-user{
					border:1px solid #646464;
					background: #fefefe;
					position: absolute;
					top:38px;
					border-top:0;
					padding: 5px 0;
					width: 100%;
					text-indent: 15px;
					left:-1px;
					display: none;
					& a{
						display: block;
						line-height: 22px;
						color:#555;
						&:hover{
							color:#c8000a;
							
						}
					}
				}
				&:hover{
					cursor: pointer;
					height: 38px;
					background: #fefefe;
					border:1px solid #646464;
					border-bottom:0;
					color:#c8000a;
					width: 76px;
					z-index: 2;
					right: 1px;

				}
				&:hover span{
					background: url(../img/index_sprites.png) no-repeat -55px -208px;
				}
				&:hover >a{
					color:#c8000a;
					padding-left: 9px;
				}
				&:hover .top-ul-user{
					display: block;
				}
			}
		}

	}
}
header{
	width:1200px;
	margin:0 auto;
	padding: 19px 0 34px 0;
	overflow: hidden;
	.header-login{
		margin-left: 20px;
		float: left;
	}
	.header-sub{
		width:504px;
		height:30px;
		float: left;
		margin:7px 0 0 80px;
		.header-sub-downmenu{
			width:24px;
			height:30px;
			border:1px solid #323232;
			border-right:0;
			float: left;
			line-height: 30px;
			color:#000;
			padding: 0 13px 0 9px;
			background: url(../img/index_sprites.png) no-repeat 28px -2344px;
		}	
		.header-sub-text{
			width:386px;
			height:30px;
			border:{
				top:1px solid #323232;
				bottom:1px solid #323232;
				left:0;
				right:0;
			}
			color:#999;
			padding-left:17px;
			font-size: 14px;
		}
		.header-sub-btn{
			width:54px;
			height:32px;
			float: right;
			border:1px solid #323232;
			background: #323232 url(../img/index_sprites.png) no-repeat 10px -444px;
		}
	}
}