@charset "UTF-8";
body, ol, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, dt, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "微软雅黑"; }

li {
  list-style: none; }

a {
  text-decoration: none; }

i {
  font-style: normal; }

b, strong {
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

img {
  border: 0;
  vertical-align: top; }

html, body {
  width: 100%;
  height: 100%; }

.wrap-header {
  width: 100%;
  height: 40px;
  background: #e6e6e6; }
  .wrap-header .header-small-top {
    font-size: 12px;
    margin: 0 auto;
    width: 1200px;
    line-height: 40px; }
    .wrap-header .header-small-top .small-top-home {
      color: #666;
      font-size: 12px;
      background: url(../img/index_sprites.png) no-repeat 0 10px;
      display: block;
      padding-left: 28px;
      float: left; }
    .wrap-header .header-small-top p {
      float: left;
      margin-left: 45px;
      color: #555555; }
    .wrap-header .header-small-top > a {
      margin-left: 32px;
      color: #c20005; }
    .wrap-header .header-small-top .small-top-shop {
      display: inline-block;
      margin-left: 288px;
      background: url(../img/index_sprites.png) no-repeat -3px -38px;
      padding-left: 28px;
      cursor: pointer; }
      .wrap-header .header-small-top .small-top-shop span {
        display: block;
        float: right;
        width: 20px;
        height: 20px;
        color: #fff;
        background: #c8000a;
        margin: 10px 0 0 5px;
        line-height: 20px;
        text-align: center;
        border-radius: 10px; }
    .wrap-header .header-small-top .small-top-ul {
      float: right;
      margin-right: 7px; }
      .wrap-header .header-small-top .small-top-ul li {
        float: left;
        background: url(../img/index_sprites.png) no-repeat -13px -2439px;
        padding-left: 10px; }
        .wrap-header .header-small-top .small-top-ul li a {
          padding-right: 20px;
          box-sizing: border-box;
          color: #555555;
          height: 40px;
          display: block; }
      .wrap-header .header-small-top .small-top-ul li:nth-child(1) a {
        background: url(../img/index_sprites.png) no-repeat 38px -188px; }
      .wrap-header .header-small-top .small-top-ul li:nth-child(2) {
        padding-left: 15px; }
        .wrap-header .header-small-top .small-top-ul li:nth-child(2) a {
          background: url(../img/index_sprites.png) no-repeat 27px -188px; }
      .wrap-header .header-small-top .small-top-ul li:nth-child(3) {
        padding-left: 15px; }
        .wrap-header .header-small-top .small-top-ul li:nth-child(3) a {
          background: url(../img/index_sprites.png) no-repeat 38px -188px; }
      .wrap-header .header-small-top .small-top-ul li:nth-child(4) {
        padding-left: 0; }
        .wrap-header .header-small-top .small-top-ul li:nth-child(4) a {
          padding-left: 21px;
          padding-right: 9px;
          background: url(../img/index_sprites.png) no-repeat -2px -88px; }
      .wrap-header .header-small-top .small-top-ul li:nth-child(5) {
        padding-left: 15px; }
        .wrap-header .header-small-top .small-top-ul li:nth-child(5) a {
          background: url(../img/index_sprites.png) no-repeat 38px -188px; }

header {
  width: 1200px;
  margin: 0 auto;
  padding: 19px 0 34px 0;
  overflow: hidden; }
  header .header-login {
    margin-left: 20px;
    float: left; }
  header .header-sub {
    width: 504px;
    height: 30px;
    float: left;
    margin: 7px 0 0 80px; }
    header .header-sub .header-sub-downmenu {
      width: 24px;
      height: 30px;
      border: 1px solid #323232;
      border-right: 0;
      float: left;
      line-height: 30px;
      color: #000;
      padding: 0 13px 0 9px;
      background: url(../img/index_sprites.png) no-repeat 28px -2344px; }
    header .header-sub .header-sub-text {
      width: 386px;
      height: 30px;
      border-top: 1px solid #323232;
      border-bottom: 1px solid #323232;
      border-left: 0;
      border-right: 0;
      color: #999;
      padding-left: 17px;
      font-size: 14px; }
    header .header-sub .header-sub-btn {
      width: 54px;
      height: 32px;
      float: right;
      border: 1px solid #323232;
      background: #323232 url(../img/index_sprites.png) no-repeat 10px -444px; }
